body {
	background-color: black;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	    color: #ffffff;
}

h2 {
	    color: #ffffff;
}
h4 {
	    color: #ffffff;
}

li {
	
	    color: #999999;
}

p {
	    color: #999999;
} 
nav {
	width: 100%;
	float:left;
}
a {
	font-size: 1.3em;
}

.big_img {
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
}
.indeximg {
	width: auto;
	height: 100%;
	margin-left: 15%;
	margin-right: 25%;
}
.small_img {
	width:40%;
	height: auto;
	margin: 2em;
}
.index_headings {
	width: 40%;
	margin-left: 35%;
	margin-right: 25%;
}
